body {
    font-family: verdana;
    background-color: white;
    padding: 20px;}

h1, h2 {
    background-color:#445ed9;
    color:#aefced;
    border: 10px double #f5add5;
    padding: inherit;
    border-radius: 10px}

p {
    background-color:#43c9e7;
    color:white;
    border: 2px dotted #5aeac7;
    padding: 10px;
    border-radius: 10px}

i {
    color:#aefced}
