body {
    font-family: courier;
    background-color: white;
    padding: 20px;}

h1, h2 {
    background-color:#072ba0;
    color:white;
    border: 20px dashed;
    border-color: #ccff00 #43c9e7 #ff5614 #43c9e7;
    padding: inherit;
    border-radius: 25px}

p {
    background-color:#efb7f0;
    color:white;
    border: solid #d8ff30;
    border-width: 2px 4px 12px 4px;
    padding: 15px;
    border-radius: 20px
    -moz-box-shadow: -5px -5px #777777;
    -webkit-box-shadow: -5px -5px #777777;
    box-shadow: -5px -5px #777777;}

i {
    color:#f0f395}