body {
    font-family: helvetica;
    background-color: #faf9fb;
    padding: 20px;}

h1 {
    font-family: Georgia ;
}

h1, h2 {
    background-color:#606574;
    color:#faf9fb;
    padding: inherit;
    border-radius: 10px}

p {
    background-color:#c9a79d;
    color:#faf9fb;
    border: 3px solid #A1776F;
    padding: 10px;
    border-radius: 10px}

i {
    color:#e1dbe8}
